
.pmode {
    display:none !important;
}

.presentation_mode h1{
        text-align: center;
}

.presentation_mode .maintoolbar-container{
    display:none; !important
}

.presentation_mode #notebook {
  font-size: 1.65em;
  background-color: #fafafa;
}

.presentation_mode .text_cell_render {
  font-size: 1.1em;
}

.presentation_mode .text_cell_render img {
  max-height: 600px;
}

.presentation_mode .text_cell_render,
.presentation_mode li,
.presentation_mode pre {
    line-height: 1.3;
}
